.container1 {
  font-size: 29px;
  display: inline;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
  /*height: 100vh; /* set the height of the container to the full viewport height */
}

.centered {
  text-align: center; /* center the text horizontally */
  vertical-align: middle; /* center the text vertically */
  /*width:100vh;*/
}

.imagestyle {
  padding-left: 10%;
  width: 500px;
  height: 420px;
  /*border-radius: 50%;*/
  /*border: 2px solid black;*/
}
  
.block1, .block2 {
    display: inline-block;
    width: 50%;
  }
  
.block1 {
  padding-top: 4%;
    background-color: white;
  }
  
  .block2 {
    padding-top: 3%;
    padding-right: 10%;
    font-size: 29px;
    font-weight: bold;
    background-color: white;
  }